<header class="header">
    <div class="header_left">
        <a href="{{ site.baseurl }}/">
            {% include svg/logo-monte-carlo.svg %}
        </a>
        <nav class="lang">
            <a class="en language" data-language="en" href="{{ site.baseurl }}/">En</a>
            <a class="ru language" data-language="ru" href="{{ site.baseurl }}/ru/">Ru</a>
        </nav>
    </div>
    <div class="header_top">
        <h1>{{ page.HeaderBrand }}</h1>

        <h2>{{ page.HeaderLegalAdvice }}</h2>
        <p>{{ page.HeaderWeSpeek }}</p>
    </div>
    <div class="header_bottom">
        <p>{{ page.HeaderContacts1 }}</p>
        <p>{{ page.HeaderContacts2 }}</p>
        <p>{{ page.HeaderContacts3 }}</p>
    </div>
</header>

