<section class="characteristics">
    <h2>{{ page.CharacteristicsTitle }}</h2>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ page.Characteristics1 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ page.Characteristics2 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ page.Characteristics3 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ page.Characteristics4 }}</p>
    </div>
</section>
