<section class="characteristics">
    <h2>{{ site.data.l10n.t[page.lang].CharacteristicsTitle }}</h2>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ site.data.l10n.t[page.lang].Characteristics1 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ site.data.l10n.t[page.lang].Characteristics2 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ site.data.l10n.t[page.lang].Characteristics3 }}</p>
    </div>
    <div class="characteristics_item">
        {% include svg/icon-circle.svg %}
        <p>{{ site.data.l10n.t[page.lang].Characteristics4 }}</p>
    </div>
</section>
