<section class="details">
    <img src="{{ site.baseurl }}/assets/img/photos/monte-carlo-2.jpg" alt="Monte Carlo Photo 2">
    <div class="details_text">
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ page.Details1 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ page.Details2 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ page.Details3 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ page.Details4 }}</p>
        </div>
    </div>
</section>


