<section class="details">
    <img src="{{ site.baseurl }}/assets/img/photos/monte-carlo-2.jpg" alt="Monte Carlo Photo 2">
    <div class="details_text">
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ site.data.l10n.t[page.lang].Details1 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ site.data.l10n.t[page.lang].Details2 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ site.data.l10n.t[page.lang].Details3 }}</p>
        </div>
        <div class="details_item">
            {% include svg/icon-circle.svg %}
            <p>{{ site.data.l10n.t[page.lang].Details4 }}</p>
        </div>
    </div>
</section>


