<footer class="footer">
    <div class="footer_copyright">
        <div class="footer_logo">
            {% include svg/logo-monte-carlo.svg %}
        </div>
        <div class="footer_text">© 2016<br>All rights reserved</div>
    </div>
    <a class="footer_powered" href="http://rooooster.com/" target="_blank">
        <div class="footer_text">Powered by<br>ROOSTER STUDIO</div>
        <div class="footer_logo">
            {% include svg/logo-rooster-studio.svg %}
        </div>
    </a>
</footer>


