<footer class="footer">
    <div class="copyright">
        <div class="copyright_logo">
            {% include svg/logo-monte-carlo.svg %}
        </div>
        <div class="copyright_text">© 2016<br>All rights reserved</div>
    </div>
    <a class="powered" href="http://rooooster.com/" target="_blank">
        <div class="powered_text">Powered by<br>ROOSTER STUDIO</div>
        <div class="powered_logo">
            {% include svg/logo-rooster-studio.svg %}
        </div>
    </a>
</footer>


