<footer class="footer">
    <div class="copyright">
        <div class="copyright_logo">
            <img src="{{ site.baseurl }}/assets/img/logos/monte-carlo.svg" alt="Monte Carlo Logo">
        </div>
        <div class="copyright_text">© 2016<br>All rights reserved</div>
    </div>
    <a class="powered" href="http://rooooster.com/" target="_blank">
        <div class="powered_text">Powered by<br>ROOSTER STUDIO</div>
        <div class="powered_logo">
            <img src="{{ site.baseurl }}/assets/img/logos/rooster-studio.svg" alt="Powered by Rooster Studio">
        </div>
    </a>
</footer>


