<header>
    <nav class="lang">
        <a class="en" href="{{ site.baseurl }}/">en</a>
        <a class="fr" href="{{ site.baseurl }}/fr/">fr</a>
        <a class="ua" href="{{ site.baseurl }}/ua/">ua</a>
        <a class="ru" href="{{ site.baseurl }}/ru/">ru</a>
    </nav>

    <img src="{{ site.baseurl }}/assets/img/monte-carlo-riviera-logo.png" alt="Monte Carlo Riviera Logo">
    <h1>{{ site.data.l10n.t[page.lang].Brand }}</h1>
    <h2>{{ site.data.l10n.t[page.lang].Slogan0 }}</h2>
</header>


