<main>
    <div class="well">

        <div class="slogan-wrap">
            <div class="slogan-item">
                <h3>{{ site.data.l10n.t[page.lang].Slogan1 }}</h3>
            </div>
            <div class="slogan-item">
                <h3>{{ site.data.l10n.t[page.lang].Slogan2 }}</h3>
            </div>
            <div class="slogan-item">
                <h3>{{ site.data.l10n.t[page.lang].Slogan3 }}</h3>
            </div>
        </div>

        <hr>
        <h3>{{ site.data.l10n.t[page.lang].Slogan4 }}</h3>
        <div>{{ site.data.l10n.t[page.lang].WorkTime }}</div>
        <p>{{ site.data.l10n.t[page.lang].WeSpeek }}</p>
        <hr>
        <p>{{ site.data.l10n.t[page.lang].About1 }}</p>
        <p>{{ site.data.l10n.t[page.lang].About2 }}</p>
        <p>{{ site.data.l10n.t[page.lang].About3 }}</p>
        <p>{{ site.data.l10n.t[page.lang].About4 }}</p>
        <p>{{ site.data.l10n.t[page.lang].About5 }}</p>
        <hr>
        <h3>{{ site.data.l10n.t[page.lang].ListTitle }}</h3>
        <ul>
            <li>{{ site.data.l10n.t[page.lang].Li1 }}</li>
            <li>{{ site.data.l10n.t[page.lang].Li2 }}</li>
            <li>{{ site.data.l10n.t[page.lang].Li3 }}</li>
            <li>{{ site.data.l10n.t[page.lang].Li4 }}</li>
        </ul>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ site.baseurl }}/assets/img/photo02-blurred.jpg">
        <hgroup>
            <img src="{{ site.baseurl }}/assets/img/monte-carlo-riviera-logo.png" alt="Monte Carlo Riviera Logo">
            <h3>{{ site.data.l10n.t[page.lang].WeLocated }}</h3>
            <div>{{ site.data.l10n.t[page.lang].Contacts }}</div>
        </hgroup>
    </div>

</main>

