$colorRed: #D8232A;
$colorBlackGray: #4A4A4A;
$colorLightGray: #9B9B9B;

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: $colorBlackGray;
    font-size: 14px;
    height: 100%;
    margin: 0;
    @include outer-container;
}

a {
    text-decoration: none;
    outline: none;
    @include transition(color .2s ease-in-out);
}

h1, h2, p {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    font-family: 'Playfair Display', serif;
}
