html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    background: #eee;
    height: 100%;
    margin: 0;
    @include outer-container;
}

a {
    text-decoration: none;
}
