.hero {
    @include span-columns(12);
    position: relative;
    z-index: 90;
    overflow: hidden;

    &_text {
        position: relative;
        padding: 50px 50px 200px;
        width: 35%;
        background: $colorRed;
        color: #fff;

        h2 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 22px;
            font-style: italic;
            color: rgba(#fff, .7);
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 65%;
        height: auto;
    }
}
