footer.footer {
    background: #3B3B3B;
    color: $colorFirmLightGray;
    padding: 100px 60px;
    @include span-columns(12);
    position: relative;
    z-index: 50;
}


$logoWidth: 10%;
$textPaddind: 4%;

.copyright {
    @include span-columns(6);

    &_logo {
        float: left;
        width: $logoWidth;

        svg {
            display: block;
            fill: $colorFirmLightGray;
        }
    }
    &_text {
        float: left;
        padding-left: $textPaddind;
        width: 100% - $logoWidth;
    }
}

.powered {
    text-align: right;
    color: $colorFirmLightGray;
    @include span-columns(6);

    &_text {
        float: left;
        width: 100% - $logoWidth;
        padding-right: $textPaddind;
    }
    &_logo {
        float: left;
        width: $logoWidth;

        svg {
            display: block;
            fill: $colorFirmLightGray;
        }
    }
}












