.footer {
    background: #3B3B3B;
    color: $colorLightGray;
    padding: 100px 60px;
    @include span-columns(12);
    position: relative;
    z-index: 50;

    &_copyright {
        @include span-columns(6);
        position: relative;

        @include media($mobile) {
            @include span-columns(12);
            margin-bottom: 40px;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 0;
            width: 42px;
            fill: $colorLightGray;
            @include transform(translate3d(0,-50%,0));
        }
        p {
            padding-left: 70px;
            font-size: 13px;
        }
    }

    &_powered {
        @include span-columns(6);
        position: relative;
        text-align: right;

        @include media($mobile) {
            @include span-columns(12);
            text-align: left;
        }

        a {
            color: $colorLightGray;

            &:hover {
                color: #fff;

                svg {
                    fill: #fff;
                }
            }
        }

        svg {
            position: absolute;
            top: 50%;
            right: 0;
            width: 56px;
            fill: $colorLightGray;
            @include transition(fill .2s ease-in-out);
            @include transform(translate3d(0,-50%,0));

            @include media($mobile) {
                right: auto;
                left: 0;
                width: 42px;
            }

        }
        p {
            padding-right: 76px;
            letter-spacing: .87px;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;

            @include media($mobile) {
                padding-right: 0;
                padding-left: 70px;
                font-size: 13px;
            }

            span {
                text-transform: uppercase;
                display: block;
            }
        }
    }
}














