nav.lang a.fr:lang(fr),
nav.lang a.en:lang(en),
nav.lang a.ua:lang(ua),
nav.lang a.ru:lang(ru) {
    font-weight: 700;
    text-transform: uppercase;
}

body {
    background: #eee;
    text-align: center;
}