.parallax-window {
    position: relative;
    height: 400px;
    background: transparent;
    overflow: hidden;

    // &:after {
    //     position: absolute;
    //     content: '';
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-image:
    //         radial-gradient(circle at 25% 25%, #000 10%, transparent 15%),
    //         radial-gradient(circle at 75% 75%, #000 10%, transparent 15%);
    //     background-size: 5px 5px;
    // }
    
    hgroup {
        position: absolute;
        z-index: 20;
        top: 50%;
        left: 0;
        width: 100%;
        color: #fff;
        font-weight: 300;
        letter-spacing: 0.25em;
        padding: 0 20px;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        // font-size: 60px;
        // text-shadow: 1px 1px 1px #000, -1px -1px 11px #000;
        @include transform(translateY(-50%));

        img {
            max-width: 200px;
            display: block;
            margin: 0 auto 40px;
        }
    }
}

