nav.lang a.fr:lang(fr),
nav.lang a.en:lang(en),
nav.lang a.ua:lang(ua),
nav.lang a.ru:lang(ru) {
    font-weight: 700;
    text-transform: uppercase;
}
nav.lang a.fr,
nav.lang a.ua {
    display: none;
}

body {
    background: #eee;
}