@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700|Playfair+Display:400,400i&subset=cyrillic';

$colorRed: #d8232a;
$colorBlackGray: #4a4a4a;
$colorLightGray: #9b9b9b;

html {
    height: 100%;
}

body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: $colorBlackGray;
    font-size: 14px;
    height: 100%;
    margin: 0;
    @include outer-container;
}

a {
    text-decoration: none;
    outline: none;
    @include transition(color .2s ease-in-out);
}

h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-family: 'Playfair Display', serif;
}
